@page
@model DJ_Promo.Pages.EditVenueModel

<h1>Edit Venue</h1>

<form method="post">
    <input type="hidden" asp-for="Venue.VenueID" />
    <div>
        <label>Name:</label>
        <input asp-for="Venue.Name" class="form-control" />
    </div>
    <div>
        <label>Address:</label>
        <input asp-for="Venue.Address" class="form-control" />
    </div>
    <div class="mt-3">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-page="Venues" class="btn btn-secondary">Back to List</a>
    </div>
</form>